.logo{
    width: 20%;
    height: auto;
}
.nav-color{
    font-size: 25px;
}
.nav-color:hover{
    color: blue !important;
}
.center{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.home{
    background: url('../images/bg.jpg') repeat;
}
.heading{
    color: orange;
}